ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.xlMenu a {
    text-decoration: none;
    color: #fff;
    transition: 500ms;
}

.xlMenu a:hover {
    text-decoration: underline;
    color: #cfc7c7;
}

.smMenu a {
    text-decoration: none;
    color: #000;
}

.smMenu a:hover {
    text-decoration: underline;
    color: #cfc7c7;
}

.example-sidenav {
    position: fixed;
    width: 100%;
    height: 30%;
}
