<div class="xlMenu" fxLayoutGap="10px" fxHide.xs>
    <a routerLink="/">Home</a>
    <a routerLink="/events">Events</a>
    <a routerLink="/about">About</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
</div>

<!-- small device menu -->
<div class="smMenu" fxHide.gt-xs>
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <a mat-list-item routerLink="/" (click)="drawer.close()">
                <mat-icon>home</mat-icon> Home
            </a>
            <a mat-list-item routerLink="/events" (click)="drawer.close()">
                <mat-icon>event</mat-icon> Events
            </a>
            <a mat-list-item routerLink="/about" (click)="drawer.close()">
                <mat-icon>help</mat-icon> About
            </a>
            <a mat-list-item routerLink="/login" (click)="drawer.close()">
                <mat-icon>lock</mat-icon> Login
            </a>
            <a mat-list-item routerLink="/register" (click)="drawer.close()">
                <mat-icon>account_circle</mat-icon> Register
            </a>
        </mat-drawer>
      
        <div class="example-sidenav-content">
          <button type="button" mat-raised-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
    </mat-drawer-container>
</div>
