<div class="table">
    <!-- search -->
    <div class="filter mbottom20" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
        <mat-icon>search</mat-icon>
        <mat-form-field>
            <input type="search" name="search" (keyup)="filterEvents($event)" matInput placeholder="Find event">
        </mat-form-field>
    </div>

    <!-- mat table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- event name-->
        <ng-container matColumnDef="name">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <!-- event description -->
        <ng-container matColumnDef="desc">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element"> {{ element.desc }} </td>
        </ng-container>

        <!-- event date -->
        <ng-container matColumnDef="date">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{ element.date.toMillis() | date: 'dd.MM.YYYY' }} </td>
        </ng-container>

        <!-- set event as previos/upcoming -->
        <ng-container matColumnDef="restore">
            <th mat-header-cell *matHeaderCellDef>Restore</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="updateEvent(element.eventID)" class="pointer">restore</mat-icon>
            </td>
        </ng-container>

        <!-- deletet -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="deleteEvent(element.eventID)" class="pointer">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- paginator -->
    <mat-paginator [length]="tableLength"
              [pageSize]="perPage"
              [pageSizeOptions]="options"
              aria-label="Select page">
    </mat-paginator>
</div>
