<div class="login">
    <h1>&raquo; Login &laquo;</h1>
    <mat-divider></mat-divider><br>
    <form>
        <mat-form-field>
            <input type="email" name="email" matInput placeholder="Enter email" autocomplete="off">
        </mat-form-field><br>
        <mat-form-field>
            <input type="password" name="password" matInput placeholder="Enter password">
        </mat-form-field><br>
        <button mat-raised-button color="primary">Login</button>
    </form><br>
    <mat-divider></mat-divider>
</div>
