<h2 mat-dialog-title>Add new event</h2>
<mat-dialog-content class="mat-typography">
    <p>New event data</p>
    <!-- event name -->
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input type="text" matInput name="name" [(ngModel)]="name">
    </mat-form-field><br>
    <!-- event desc -->
    <mat-form-field>
        <mat-label>Description:</mat-label>
        <textarea matInput name="desc" [(ngModel)]="desc"></textarea>
    </mat-form-field><br>
    <!-- event date -->
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="basic">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" (click)="save()" color="primary"
  [disabled]="!this.name || !this.desc || !this.date">Save</button>
</mat-dialog-actions>
