/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
    width: 80%;
    margin: 20px auto;
    min-height: 100%;
}

.pointer {
    cursor: pointer;
}

.mbottom20 {
    margin-bottom: 20px;
}
