<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo" fxHide.xs>
        <img src="/assets/images/events.jpg" alt="logo-missing">
    </div>
    <div class="menu">
        <app-menu></app-menu> 
    </div>
    <div class="logo" fxHide.gt-xs>
        <img src="/assets/images/events.jpg" alt="logo-missing">
    </div>
</mat-toolbar>
