<div class="events">
    <h1>&raquo; Events &laquo;</h1>
    <mat-divider></mat-divider><br>
    <button mat-raised-button color="primary" (click)="showAddEventDialog()">Add event</button><br><br>
    <div class="group-events">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Previous Events">
                <app-event-table [type]="'previous'"></app-event-table>
            </mat-tab>
            <mat-tab label="Upcoming Events">
                <app-event-table [type]="'upcoming'"></app-event-table>
            </mat-tab>
        </mat-tab-group>
    </div><br><br>

    <mat-divider></mat-divider>
</div>
